<%= content_tag :div, :class => "tab-content", :id => "tab-content-notifications", :style => (params[:tab] != "notifications" ? "display:none" : "") do %>

<form accept-charset="UTF-8" action="#" class="edit_user" id="my_account_form" method="get">

<fieldset class="box container">
  <p><label>
    <input id=no_notification_at_all type=checkbox />
    <%= l(:label_user_mail_no_mail_at_all) %> <em class=info style="display:inline">(<%= l(:label_not_recommended) %>)</em>
  </label></p>

  <div id=notifications-want class=section>
    <fieldset class="box" style="border-color:#47D">
      <legend style="color:#36C"><%= l(:text_user_mail_want_to_be_notified) %></legend>
      <p>
        <label>
          <input type=checkbox checked=checked id=notifications_for_all_events />
          <%= l(:label_user_mail_option_all) %>
        </label>
      </p>

      <dl class=depends-container>
        <dt><%= l(:label_issue_plural) %></dt>
        <dd>
          <select id="notification_for_issues" class="has-depends">
            <option value="all"><%= l(:label_user_mail_all_notifications) %></option>
            <option value="custom"><%= l(:label_user_mail_custom_notifications) %></option>
            <option value="none"><%= l(:label_user_mail_no_notification) %></option>
          </select>
        </dd>
        <dd class="depends"><label>
          <input type=checkbox /> <%= l(:label_user_mail_issues_if_author) %>
        </label></dd>
        <dd class="depends"><label>
          <input type=checkbox /> <%= l(:label_user_mail_issues_if_assignee) %>
        </label></dd>
        <dd class="depends"><label>
          <input type=checkbox /> <%= l(:label_user_mail_issues_if_other) %>
        </label></dd>
        <dd class="depends"><em class="info">
          <%= l(:text_user_mail_issues_info_watchers) %>
        </em></dd>
      </dl>

      <hr>

      <dl>
        <dt><%= l(:label_news_plural) %></dt>
        <dd>
          <select id="notification_for_news">
            <option value="all"><%= l(:label_user_mail_all_notifications) %></option>
            <option value="none"><%= l(:label_user_mail_no_notification) %></option>
          </select>
        </dd>
      </dl>

      <hr>

      <dl>
        <dt><%= l(:label_document_plural) %></dt>
        <dd><em class=info><%= l(:text_user_mail_notification_disabled_by_admin) %></em></dd>
        <dd style="display:none">
          <select id="notification_for_documents">
            <option value="all"><%= l(:label_user_mail_all_notifications) %></option>
            <option value="none"><%= l(:label_user_mail_no_notification) %></option>
          </select>
        </dd>
      </dl>

      <hr>

      <dl>
        <dt><%= l(:label_file_plural) %></dt>
        <dd><em class=info><%= l(:text_user_mail_notification_disabled_by_admin) %></em></dd>
        <dd style="display:none">
          <select id="notification_for_files">
            <option value="all"><%= l(:label_user_mail_all_notifications) %></option>
            <option value="none"><%= l(:label_user_mail_no_notification) %></option>
          </select>
        </dd>
      </dl>

      <hr>

      <dl>
        <dt><%= l(:label_board_plural) %></dt>
        <dd><em class=info><%= l(:text_user_mail_notification_disabled_by_admin) %></em></dd>
        <dd style="display:none">
          <select id="notification_for_forums">
            <option value="all"><%= l(:label_user_mail_all_notifications) %></option>
            <option value="none"><%= l(:label_user_mail_no_notification) %></option>
          </select>
        </dd>
      </dl>

      <hr>

      <dl>
        <dt><%= l(:label_wiki) %></dt>
        <dd><em class=info><%= l(:text_user_mail_notification_disabled_by_admin) %></em></dd>
        <dd style="display:none">
          <select id="notification_for_wikis">
            <option value="all"><%= l(:label_user_mail_all_notifications) %></option>
            <option value="none"><%= l(:label_user_mail_no_notification) %></option>
          </select>
        </dd>
      </dl>

    </fieldset>
  </div>

  <div id=notifications-nowant class=section>
    <fieldset class="box" style="border-color:#C32">
      <legend style="color:#A22"><%= l(:text_user_mail_dont_want_to_be_notified) %></legend>
      <dl>
        <dt><%= l(:label_general) %></dt>
        <dd>
          <%= l(:label_user_mail_no_self_notified) %>
          <%= check_box_tag 'no_self_notified', 1, @user.pref[:no_self_notified] %>
        </dd>
        <dd>
          <%= l(:label_user_mail_exception_for_some_projects) %>
          <a href="#" onclick="alert('blah'); return false"><%= l(:button_change).downcase %></a>
        </dd>
        <dd>
            <%= l(:label_user_mail_exception_for_some_roles) %>
            <a href="#" onclick="alert('blah'); return false"><%= l(:button_change).downcase %></a>
            <p style="display:none">
            <% Role.all.each do |role| %>
              <label><input type=checkbox /> <%= role.name %></label><br>
            <% end %>
            </p>
        </dd>
      </dl>
      <hr>
      <dl>
        <dt><%= l(:label_issue_plural) %></dt>
        <dd>
          <%= l(:label_user_mail_exception_for_issue_updates) %>
          <input type=checkbox />
        </dd>
        <dd>
          <%= l(:label_user_mail_exception_for_some_trackers) %>
          <a href="#" onclick="alert('blah'); return false"><%= l(:button_change).downcase %></a>
        </dd>
      </dl>
      <p><em class="info">
        <%= l(:text_user_mail_exceptions_info) %>
      </em></p>
    </fieldset>
  </div>
</fieldset>

<fieldset class="box container" id=other-mail-address>
  <p>
    <label>
      <input id=notification_to_other_address type=checkbox />
      <%= l(:text_i_want_to_be_notified_to_an_other_address) %>
      <em class=info style="display:inline">(<%= l(:text_other_address_example) %>)</em>
    </label>
    <input type=text id=other_address style="display:block;margin:8px 15px 0 22px; width:300px" placeholder="mail@example.com" />
  </p>
</fieldset>

<div id="alert-no-notification" style="color:red;border:1px solid red; background-color:#fdd; padding:10px; margin:10px 0; text-align:center;">
  <%= l(:text_notification_warning_if_none) %>
</div>

<div class="clear"></div>
<div>
  <input type="submit" value="<%= l(:button_save) %>" />
</div>

</form>

<% end %>

<script>
  displayNotificationDependsOptions = function(id) {
    var $select = $("#"+id)
    var selected = $select.find("option:selected").val()
    var showOrHide = (selected == "custom")
    $select.closest(".depends-container").find(".depends").toggle(showOrHide)
  }
  handleNoNotificationOption = function() {
    $nonotif = $("#no_notification_at_all")
    $("#tab-content-notifications .section").toggle(!$nonotif.is(":checked"))
    $("#other-mail-address").toggle(!$nonotif.is(":checked"))
    $("#alert-no-notification").toggle($nonotif.is(":checked"))
  }
  handleOtherAddressOption = function() {
    $otheraddress = $("#notification_to_other_address")
    $("#other_address").toggle($otheraddress.is(":checked"))
  }
  handleSelectsDependingOnAllNotificationsOption = function() {
    var $selects = $("#notifications_for_all_events").closest('fieldset.box').find('select')
    if ($("#notifications_for_all_events").is(":checked")) {
      $selects.val("always").change()
      $selects.attr('disabled', 'disabled')
    } else {
      $selects.attr('disabled', false)
    }
  }
  $(function() {
    //display fine grained options
    $(".has-depends").each(function() { displayNotificationDependsOptions($(this).attr('id')) })
    $(".has-depends").on("change", function() { displayNotificationDependsOptions($(this).attr('id')) })
    //handle the case when a user wants no notification at all
    handleNoNotificationOption()
    $("#no_notification_at_all").on("change", function() { handleNoNotificationOption() })
    //handle other address option
    handleOtherAddressOption()
    $("#notification_to_other_address").on("change", function() { handleOtherAddressOption() })
    //handle 'notifications for all events' checkbox
    handleSelectsDependingOnAllNotificationsOption()
    $("#notifications_for_all_events").on("change", function() { handleSelectsDependingOnAllNotificationsOption() })
  })
</script>

<style>
  #tab-content-notifications fieldset { margin:10px 0 0 0; padding:10px; box-sizing:border-box; background-color:#fcfcfc; }
  #tab-content-notifications fieldset:first-child { margin-right:10px; }
  #tab-content-notifications fieldset.box > legend { font-size:130%; }
  #tab-content-notifications fieldset.container { background-color:#f5f5f5; margin:0 0 10px 0; }
  #tab-content-notifications p { margin:0; padding:5px; }
  #tab-content-notifications select { margin:0 4px 4px 0; min-width:220px; width:auto; }
  #tab-content-notifications em.info { padding:0 5px; }
  #tab-content-notifications dl { margin:10px 5px; }
  #tab-content-notifications dl dt { float:left; font-weight:bold; padding:5px 15px 5px 5px; width:100px; text-align:right; }
  #tab-content-notifications dl dd { margin-left:125px; padding:5px 0; }
  #tab-content-notifications hr { background-color:#eee; }
  #tab-content-notifications .section { float:left; box-sizing:border-box; padding:0; margin:0; width:50%; min-width:570px; }
</style>
