<%= content_tag :div, :class => "tab-content", :id => "tab-content-notifications", :style => (params[:tab] != "notifications" ? "display:none" : "") do %>

<form accept-charset="UTF-8" action="#" class="edit_user" id="my_account_form" method="get">

<fieldset class="box container">
  <p><label>
    <input id=no_notification_at_all type=checkbox />
    <%= l(:label_user_mail_no_mail_at_all) %> <em class=info style="display:inline">(<%= l(:label_not_recommended) %>)</em>
  </label></p>

  <div id=notifications-want class=section>
    <fieldset class="box" style="border-color:#47D">
      <legend style="color:#36C"><%= l(:text_user_mail_want_to_be_notified) %></legend>
      <p>
        <label>
          <input type=checkbox checked=checked id=notifications_for_all_events />
          <%= l(:label_user_mail_option_all) %>
        </label>
      </p>

      <dl class=depends-container>
        <dt><%= l(:label_issue_plural) %></dt>
        <dd>
          <select id="notification_for_issues" class="has-depends">
            <option value="all"><%= l(:label_user_mail_all_notifications) %></option>
            <option value="custom"><%= l(:label_user_mail_custom_notifications) %></option>
            <option value="none"><%= l(:label_user_mail_no_notification) %></option>
          </select>
        </dd>
        <dd class="depends"><label>
          <input type=checkbox /> <%= l(:label_user_mail_issues_if_author) %>
        </label></dd>
        <dd class="depends"><label>
          <input type=checkbox /> <%= l(:label_user_mail_issues_if_assignee) %>
        </label></dd>
        <dd class="depends"><label>
          <input type=checkbox /> <%= l(:label_user_mail_issues_if_other) %>
        </label></dd>
        <dd class="depends"><em class="info">
          <%= l(:text_user_mail_issues_info_watchers) %>
        </em></dd>
      </dl>

      <hr>

      <dl>
        <dt><%= l(:label_news_plural) %></dt>
        <dd>
          <select id="notification_for_news">
            <option value="all"><%= l(:label_user_mail_all_notifications) %></option>
            <option value="none"><%= l(:label_user_mail_no_notification) %></option>
          </select>
        </dd>
      </dl>

      <hr>

      <dl>
        <dt><%= l(:label_document_plural) %></dt>
        <dd><em class=info><%= l(:text_user_mail_notification_disabled_by_admin) %></em></dd>
        <dd style="display:none">
          <select id="notification_for_documents">
            <option value="all"><%= l(:label_user_mail_all_notifications) %></option>
            <option value="none"><%= l(:label_user_mail_no_notification) %></option>
          </select>
        </dd>
      </dl>

      <hr>

      <dl>
        <dt><%= l(:label_file_plural) %></dt>
        <dd><em class=info><%= l(:text_user_mail_notification_disabled_by_admin) %></em></dd>
        <dd style="display:none">
          <select id="notification_for_files">
            <option value="all"><%= l(:label_user_mail_all_notifications) %></option>
            <option value="none"><%= l(:label_user_mail_no_notification) %></option>
          </select>
        </dd>
      </dl>

      <hr>

      <dl>
        <dt><%= l(:label_board_plural) %></dt>
        <dd><em class=info><%= l(:text_user_mail_notification_disabled_by_admin) %></em></dd>
        <dd style="display:none">
          <select id="notification_for_forums">
            <option value="all"><%= l(:label_user_mail_all_notifications) %></option>
            <option value="none"><%= l(:label_user_mail_no_notification) %></option>
          </select>
        </dd>
      </dl>

      <hr>

      <dl>
        <dt><%= l(:label_wiki) %></dt>
        <dd><em class=info><%= l(:text_user_mail_notification_disabled_by_admin) %></em></dd>
        <dd style="display:none">
          <select id="notification_for_wikis">
            <option value="all"><%= l(:label_user_mail_all_notifications) %></option>
            <option value="none"><%= l(:label_user_mail_no_notification) %></option>
          </select>
        </dd>
      </dl>

    </fieldset>
  </div>

  <div id=notifications-nowant class=section>
    <fieldset class="box" style="border-color:#C32">
      <legend style="color:#A22"><%= l(:text_user_mail_dont_want_to_be_notified) %></legend>
      <dl>
        <dt><%= l(:label_general) %></dt>
        <dd>
          <%= l(:label_user_mail_no_self_notified) %>
          <%= check_box_tag 'no_self_notified', 1, @user.pref[:no_self_notified] %>
        </dd>
        <dd>
          <%= l(:label_user_mail_exception_for_some_projects) %>
          <a href="#" onclick="alert('blah'); return false"><%= l(:button_change).downcase %></a>
        </dd>
        <dd>
            <%= l(:label_user_mail_exception_for_some_roles) %>
            <a href="#" onclick="alert('blah'); return false"><%= l(:button_change).downcase %></a>
            <p style="display:none">
            <% Role.all.each do |role| %>
              <label><input type=checkbox /> <%= role.name %></label><br>
            <% end %>
            </p>
        </dd>
      </dl>
      <hr>
      <dl>
        <dt><%= l(:label_issue_plural) %></dt>
        <dd>
          <%= l(:label_user_mail_exception_for_issue_updates) %>
          <input type=checkbox />
        </dd>
        <dd>
          <%= l(:label_user_mail_exception_for_some_trackers) %>
          <a href="#" onclick="alert('blah'); return false"><%= l(:button_change).downcase %></a>
        </dd>
      </dl>
      <p><em class="info">
        <%= l(:text_user_mail_exceptions_info) %>
      </em></p>
    </fieldset>
  </div>
</fieldset>

<fieldset class="box container" id=other-mail-address>
  <p>
    <label>
      <input id=notification-to-other-address type=checkbox />
      <%= l(:text_i_want_to_be_notified_to_an_other_address) %>
      <em class=info style="display:inline">(<%= l(:text_other_address_example) %>)</em>
    </label>
    <input type=text id=other-address class=other-address placeholder="mail@example.com" />
  </p>
</fieldset>

<div id=alert-no-notification class=alert-no-notification>
  <%= l(:text_notification_warning_if_none) %>
</div>

<div class="clear"></div>
<div>
  <input type="submit" value="<%= l(:button_save) %>" />
</div>

</form>

<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_notification_center', :plugin => :redmine_notification_center %>
  <%= javascript_include_tag 'redmine_notification_center', :plugin => :redmine_notification_center %>
<% end %>
